#### movieLens20

In [1]:
import numpy as np
import pandas as pd

In [ ]:
## used to extract year of movie

# movies.title = movies.title.apply(lambda x: re.sub('\) ', ')', x))
# movies["year"] = movies.title.apply(lambda x: int(x[-5:-1]))
# movies["title"] = movies.title.apply(lambda x: x[0:-7])
# movies.to_csv('ml-20m/movies.csv', index=False)

In [3]:
movies = pd.read_csv('ml-20m/movies.csv')
index_mv = {i: mv for i, mv in enumerate(movies.movieId.values)}
movies.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

In [ ]:
# # check years
# print(sorted(movies.year.unique()))
# movies[movies.year == 2009].shape

# # get number of movies each year
# lens = {year: movies[movies.year == year].shape[0] for year in sorted(movies.year.unique())}
# with open("ml-20m/stats_year.txt", "w") as f:
#     for k, v in lens.items():
#         f.write("{},{}\n".format(k, v))

In [8]:
# no need ratings
# ratings = pd.read_csv('ml-20m/ratings.csv')
# ratings.head()
# user = ratings.groupby(['userId'])['movieId'].apply(np.array).reset_index(name='movies')
# user.head()

   userId                                             movies
0       1  [2, 29, 32, 47, 50, 112, 151, 223, 253, 260, 2...
1       2  [3, 62, 70, 110, 242, 260, 266, 469, 480, 541,...
2       3  [1, 24, 32, 50, 160, 173, 175, 196, 223, 260, ...
3       4  [6, 10, 19, 32, 165, 329, 350, 356, 367, 368, ...
4       5  [2, 11, 17, 60, 62, 104, 110, 140, 141, 150, 2...

In [10]:
# from collections import defaultdict
# edge = defaultdict(int)

# with open("edges.txt", "w") as f:
#     for _, row in user.iterrows():
#         for mvx in row.movies:
#             try:
#                 mv1 = node_dict[mvx]
#                 for mvy in row.movies:
#                     if mvy == mvx:
#                         pass
#                     mv2 = node_dict[mvy]
#                     if mv2 < mv1:
#                         mv1, mv2 = mv2, mv1
#                     edge[(mv1, mv2)] += 1
#             except:
#                 pass

In [10]:
tags = pd.read_csv("ml-20m/tags.csv")
tag_count = tags.groupby(["tag"]).count().reset_index()
tag_map = {t:i for i, t in enumerate(tag_count[tag_count.userId>1].tag.values)}

with open('ml-20m/tag_map.txt', 'w') as f:
    for k, v in tag_map.items():
        f.write('{} {}\n'.format(k, v))

In [42]:
## This is not used in tags
# from datetime import datetime

# def year(timestamp):
#     return datetime.fromtimestamp(timestamp).year

# tags['year'] = tags.timestamp.apply(year)
## tags = tags[['userId', 'movieId', 'tag', 'timestamp', 'year']]

In [27]:
mv_tag = tags.groupby(["movieId"])['tag'].apply(list).reset_index()
mv_tag.head()

,movieId,tag,tagenc
0,1,"[Watched, computer animation, Disney animated ...","[8649, 10931, 2320, 6509, 8365, 6508, 9297, 12..."
1,2,"[time travel, adapted from:book, board game, c...","[18251, 8989, 10079, 10603, 12572, 13136, 1683..."
2,3,"[old people that is actually funny, sequel fev...","[17035, 12988, 14757, 15414, 2994, 17032, 3907..."
3,4,"[chick flick, revenge, characters, chick flick...","[10564, 16584, 10508, 10564, 10508, 1428]"
4,5,"[Diane Keaton, family, sequel, Steve Martin, w...","[2280, 12168, 17032, 7784, 19064, 17035, 2803,..."

In [114]:
def _tag_enc(x):
    _enc = ""
    for tag in x:
        try:
            _enc += str(tag_map[tag])
            _enc += " "
        except:
            pass
    return np.array(_enc)

mv_tag['tagenc'] = mv_tag.tag.apply(_tag_enc)
mv_tag[['movieId', 'tagenc']].to_csv("ml-20m/tag_enc.csv", index=False)